@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap');

body {
    font-family: 'Poppins', sans-serif;
    background: blue;
    margin: 0;
    color: #fff; /* Set text color to white */
}

.background {
    background-color: #f0f0f0;
    background-image: url("../images/harrypotterlogo.png"), linear-gradient(to bottom, #f0f0f0, #ccc);
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

.introduction,
.result,
.container,
.question,
.options,
.option {
    border: 1px solid rgba(0, 0, 0, 0.1);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin-bottom: 20px;
    font-size: 1.2rem;
    letter-spacing: normal;
    font-weight: bolder;
    color: #000; /* Change this to black or any color that contrasts with your background */
}

.options {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.option {
    display: flex;
    align-items: center;
    gap: 5px;
}

.introduction,
.result,
.container {
    background-color: rgba(255, 255, 255, 0.9);
    box-shadow: 0 2px 4px rgba(255, 255, 255, 0.9);
}

.question,
.options,
.option {
    background-color: rgba(255, 255, 255, 0.8);
}

.button {
    display: inline-block;
    padding: 15px 30px;
    background-color: #428bca;
    color: #fff;
    border: none;
    cursor: pointer;
    font-size: 18px;
    font-weight: bold;
    border-radius: 4px;
    transition: background-color 0.3s;
    margin-right: 10px;
}

.button:hover {
    background-color: #3071a9;
}

.button:active {
    background-color: #285e8e;
}

.button:focus {
    outline: none;
    box-shadow: 0 0 0 2px #afd8f8;
}

.button.hide {
    display: none;
}

/* Responsive Design */
@media (max-width: 768px) {
    .container {
        width: 90%;
        padding: 20px;
    }

    .question,
    .options,
    .option {
        font-size: 1rem;
        padding: 15px;
        margin-bottom: 15px;
    }

    .button {
        padding: 12px 24px;
        font-size: 16px;
    }
}

.option input[type="radio"] {
    margin-right: 10px;
}
